## Question 1
Values are - *,'hello',-87.8,6
expressions are - / , +

## Question2 Difference between string and variable
variables holds values which may be integer,float or string. string is one data type

## Question 3 -data types
1. List
list is mutable data type which holds any type of data like int, char string etc.
e.g l=[2,3,'trtrt']
tuple is immutable data type which holds any type of data like int, char string etc
e.g t=(3,4,'ggsfg')
dictionary is collection of key and values.
e.g.d={'a':[2,3],4:'sdfsdg'}

## Question 4
expression is combination of operands and operators which yields value.
e.g. 2+3

## Question 5
after evaluating expression yields a value which will be assigned to variable which forms statement.
statement= expression

In [1]:
## Question 6
bacon=22
bacon+1

23

In [2]:
## Question 7
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

In [ ]:
## Question 8
numbers cant be used as variable name.

In [4]:
## Question 9
value=23
int(value)

23

In [5]:
float(value)

23.0

In [6]:
str(value)

'23'

In [7]:
## Question 10
'i have eaten'+ 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [10]:
'i have eaten'+ ' '+ str(99) + ' ' + 'burritos'

'i have eaten 99 burritos'